@model aspnetapp.Menu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuEname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuEname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.icon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.icon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
