@model IEnumerable<aspnetapp.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1>业务产品列表</h1>

<p>
    <a asp-action="Create">添加</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                业务产品名称
            </th>
            <th>
                业务产品别名
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuEname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.id">查看</a> |
                <a asp-action="Delete" asp-route-id="@item.id">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
